.body-scrollbar {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.body-scrollbar-track.hidden {
  display: none;
}

.simplebar-content-wrapper.body-scrollbar-content-wrapper:focus-visible {
  outline: 4px solid black !important;
  outline-offset: -4px !important;
  border-radius: 4px !important;
}
