.popup-container {
  .popup-container-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background-color: rgb(8 8 8 / 0.5);
    background-image: linear-gradient(to bottom, rgba(0 8 16 / 0.3), rgba(0 8 16 / 0.7));
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    min-height: 100vh;
    opacity: 0;
    animation: fadeIn 0.1s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
