.popup-container {
  .popup-container-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 60px 20px;
    box-sizing: border-box;
    min-height: 100vh;
  }
}
