.popup-scrollbar {
  // background-color: rgb(8 8 8 / 0.5);
  background-image: linear-gradient(
    to bottom,
    rgba(0 8 16 / 0.3),
    rgba(0 8 16 / 0.7)
  );
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  animation: fadeIn 0.1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.simplebar-content-wrapper.popup-scrollbar-content-wrapper:focus-visible {
  outline: 4px solid black !important;
  outline-offset: -4px !important;
  border-radius: 4px !important;
}
